.calendar-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.calendar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 400px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.react-calendar {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  height: 10%;
  width: 100%;
}
